<DOCTYPE html>
<html>
	<head>
		<title>blackjack</title>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/custom/custom.css}"/>
	</head>
	<body>
		<h1>Hello World!</h1>
		
		<script type="text/javascript" th:src=@{/bootstrap/js/bootstrap.min.js}></script>
		<script type="text/javascript" th:src=@{/jquery/jquery.js}></script>
		<script type="text/javascript" th:src=@{/custom/custom.js}></script>
	</body>
</html>