<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>blackjack</title>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/custom/custom.css}"/>
	</head>
	<body>

		<div th:if="${handWorth > 21}">
			<h1>You busted! Hand worth over 21!</h1>
		</div>
		
		<!-- <div th:unless="${handWorth > 21}"> -->
			<h1>Blackjack</h1>
			<br>
			<h3>Player Hand:</h3>
			<div th:each="card : ${playerHand}">
				<span th:text="${card.number}"></span>
				<span>of</span>
				<span th:text="${card.suit}"></span>
				<span th:text="${card.worth}"></span>
				<br>
			</div>
			<h3>Hand worth: </h3>
			<h4 th:text="${handWorth}"></h4>
		<!-- </div> <!-- -->
		
		<script type="text/javascript" th:src=@{/plugins/jquery/jquery.js}></script>
		<script type="text/javascript" th:src=@{/plugins/bootstrap/js/bootstrap.min.js}></script>
		<script type="text/javascript" th:src=@{/custom/custom.js}></script>
	</body>
</html>