<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>blackjack</title>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/custom/custom.css}"/>
	</head>
	<body>
		<h1>Blackjack</h1>
		<h3>Player Hand:</h3>
		<ul th:each="card : ${playerHand}">
			<span th:text="${card.number}"></span>
			<span th:text="${card.suit}"></span>
		</ul>
		
		<script type="text/javascript" th:src=@{/plugins/jquery/jquery.js}></script>
		<script type="text/javascript" th:src=@{/plugins/bootstrap/js/bootstrap.min.js}></script>
		<script type="text/javascript" th:src=@{/custom/custom.js}></script>
	</body>
</html>